body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 360px;
  background-color: #333;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.light {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.light.active {
  opacity: 1;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}